.user-navbar {
  display: flex;
  justify-content: center;
  gap: 28px;

  padding: 14px 0;
  background: linear-gradient(
    135deg,
    #fde2e2,
    #ffeaf9,
    #fad0c4
  );
  border-bottom: 1px solid #f4f0f0;
}

.user-navbar a {
  text-decoration: none;
  font-weight: 500;
  color: #222;
  position: relative;
}

.user-navbar a:hover {
  color: #e63946;
}
