.cart-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.cart-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  
}

.empty-cart {
  text-align: center;
  font-size: 16px;
  color: #666;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.cart-card img {
  width: 90px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
}

.cart-info h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.price {
  font-weight: 600;
  margin-bottom: 10px;
}

.qty-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-row button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.qty-row span {
  font-weight: 600;
}

button.remove-btn {
  background: #ffe5e5 !important;
  color: #d33 !important;
  border: none !important;
  padding: 6px 14px !important;
  font-size: 12px !important;
  border-radius: 999px !important;
  cursor: pointer !important;
  width: auto !important;
  height: auto !important;
  max-width: fit-content !important;
}

button.remove-btn:hover {
  background: #ffcccc !important;
}



.cart-summary {
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.cart-summary h3 {
  margin-bottom: 15px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.checkout-btn {
  margin-top: 20px;
  width: 25%;
  padding: 14px;
  align-items: center;
  border-radius: 999px;
  background: #000;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.checkout-btn:hover {
  opacity: 0.9;
}

.cart-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.final-price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.original-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.saved-text {
  font-size: 13px;
  color: #e53935;
  margin-top: 4px;
}
