.video-page {
  background: #fff6f8;
  padding: 60px 20px 100px;
  min-height: 100vh;
}

/* Header */
.video-header {
  max-width: 1100px;
  margin: 0 auto 40px;
  background: #fff0f3;
  padding: 60px 20px;
  border-radius: 24px;
  text-align: center;
}

.video-header h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 8px;
}

.video-header p {
  font-size: 13px;
  letter-spacing: 1px;
  color: #777;
}

.video-divider {
  width: 40px;
  height: 3px;
  background: #ff6f91;
  margin: 16px auto 0;
  border-radius: 10px;
}


.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.social-buttons a {
  padding: 10px 18px;
  border-radius: 25px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.video-card {
  background: #fff;
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.video-card iframe {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.video-card p {
  margin-top: 10px;
  font-weight: 500;
}
